$black-bg: rgb(22, 22, 22);
$text: rgb(233, 233, 233);
*, *::after, *::before{
  padding: 0;
  margin: 0;
}
li{
  list-style-type: none
}

/* FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");
body{
  font-family: "Roboto", sans-serif;
  background-color: rgb(58, 75, 59);
  h1{
    color: $text;
  }
  .title{
    margin-top: 10vh;
  }
}
.css-drop-down{
  // padding: 1em;
  align-items: center;
  background-color: $black-bg;
  color: $text;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-around;
  ul{
    display: flex;
    // gap: 2vh;
    li{
      width: 10vh;
      padding-block: 2vh;
      padding-left: 1vh;
      cursor: pointer;
    }
    .dropdown{
      position: relative;
      display: flex;
      min-width: 10vh;
      span{
        display: block;
        width: 2.3vh;
        height: 2.3vh;
        -webkit-mask-image: url(../imgs/arrowDown.svg) ;
        mask-image: url(../imgs/arrowDown.svg) ;
        -webkit-mask-repeat: no-repeat;
        background-color: white;
        mask-repeat: no-repeat;
      }
      .drop-down-menu{
        position: absolute;
        max-width: 11vh;
        top: 100%;
        left: 0;
        padding: 0vh;
        flex-direction: column;
        gap: 2vh;
        background-color: $text;
        color: $black-bg;
        background-color: $text;
        color: $black-bg;
        display: none;
        li{
          width: 10vh;
          padding: 0px ;
          padding-left: 1vh;
          padding-block: 1vh;
          &:hover{
            background-color: $black-bg;
            color: $text;
            transition: linear 0.3s;
          }
        }
      }
      &:hover{
        color: $black-bg;
        background-color: $text;

      }
      &:hover .drop-down-menu{
        display: block;
      }
    }
    .drop-down-menu{
      animation: dragDown 300ms forwards;
      transform-origin: top center;

    }
    @keyframes dragDown {
      0%{
        transform: scaleY(0) ;
      }
      80%{
        transform: scaleY(1.1);
      }
      100%{
        transform: scaleY(1);
      }
      
    }

  }

}
.js-dropdown{
  display: flex;
  align-items: center;
  justify-content: space-around ;
  background-color: $black-bg;
  color: $text;
  .items{
    display: flex;
    gap: 2vh;
    li{
      padding-block: 2vh;
      padding-left: 1vh;
    }
    .dropdown-js{
      position: relative;
      width: 10vh;
      .dropdown-menu{
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 0vh;
        top: 6vh;
        left: 0;
        background-color: $text;
        color: $black-bg;
        width: 0px;
        height: 0px;
        font-size: 0px;
        li{
          padding: 0vh;
        }
      }
      [data-visible = true]{
        width: 10vh;
        height: 10vh;
        font-size: 1rem;
        padding-block: 1vh;
        padding-left: 1vh;
        gap: 1vh;
        animation: dragJSDown 300ms forwards;
        transform-origin: top center;
      }
      @keyframes dragJSDown {
        0%{
          transform: scaleY(0);
        }
        80%{
          transform: scaleY(1.1);
        }
        100%{
          transform: scaleY(1);
        }
        
      }
    }
  }
}

.mobile{
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-color: $black-bg;
  color: $text;
  display: flex;
  justify-content: space-between;
  // gap: 2vh;
  .btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    .all-tasks-i{
      width: 4vh;
      height: 4vh;
      -webkit-mask-image: url(../imgs/check.svg) ;
      mask-image: url(../imgs/check.svg) ;
      -webkit-mask-repeat: no-repeat;
      background-color: $text;
      mask-repeat: no-repeat;
    }
    .work-i{
      width: 4vh;
      height: 4vh;
      -webkit-mask-image: url(../imgs/work.svg) ;
      mask-image: url(../imgs/work.svg) ;
      -webkit-mask-repeat: no-repeat;
      background-color: $text;
      mask-repeat: no-repeat;
    }
    .add-cat-i{
      width: 4vh;
      height: 4vh;
      -webkit-mask-image: url(../imgs/plus.svg) ;
      mask-image: url(../imgs/plus.svg) ;
      -webkit-mask-repeat: no-repeat;
      background-color: $text;
      mask-repeat: no-repeat;
    }
    .all-cat-i{
      width: 4vh;
      height: 4vh;
      -webkit-mask-image: url(../imgs/library.svg) ;
      mask-image: url(../imgs/library.svg) ;
      -webkit-mask-repeat: no-repeat;
      background-color: $text;
      mask-repeat: no-repeat;
      z-index: 888;
    } 
  }
  .btn{
    &[aria-selected=true]{
      .task-icon{
        background-color: green;
      }
    }
  }
  .all-cat-btn{
    &[aria-expanded=true]{
      .all-cat-i{
        position: absolute;
        top: -90vh;
        -webkit-mask-image: url(../imgs/Close.svg) ;
        mask-image: url(../imgs/Close.svg) ;
        z-index: 999;
      }
    }
  }   
  .categories{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    top: 0;
    inset: 0 0 0 20%;
    height: 100vh;
    background-color: $black-bg;
    padding-top: 8vh;
    padding-left: min(8vh, 10vh);
    transform: translateX(+100%);
    transition: 0.3s ease-in-out;

    &[data-visible=true]{
      transform: translateX(0%);
    }
  }
  
}